# Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/.

# Finder.
.DS_Store

# Python.
__pycache__/
*.egg-info/

# Project.
_build/
_misc/
docs/_muck
docs/*.wu
todo.txt
